*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: arial, monospace;
}

.my-box{
  width: 100%;
  height: 100%;
  padding: 25px;
}

.my-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testa{
  background-image: url('../img/moneta8.png');
}

.croce{
  background-image: url('../img/moneta0.png');
}

#my-p{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 35px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

#my-btn1{
  width: 120px;
  height: 30px;
  border-radius: 3px;
  font-weight: bolder;
  margin-top: 35px;
}
